<div class="container">
    <button class="cta" (click)="explorer.toggle()"
        [ngStyle]="{'background': this.classColor, 'border-color':this.classColor, 'color':this.textColor}">
        <i class="fa-solid fa-folder fa-lg"></i>
        <span class="button-text"><b>Mes ressources</b></span>
    </button>
    <span><b> RE4E > </b>TD > TD1 > Sujet.pdf</span>
</div>



<mat-toolbar>

</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #explorer mode="side" [(opened)]="explorerOpened" [ngStyle]="{'color': this.classColor}"
        style="width: 20%; text-align: left; background-color: #121212;">

        <h1 style="margin-left: 20px;">SI40</h1>
        <div style="margin: 10px; padding: 10px; border-radius: 20px; border-width: 1px; border:3px solid;">
            <p style="margin-left:0px; color: white;">Une bonne grosse UV bien cringe qui sert à rien et qui devrait
                décéder le plus tôt possible</p>
        </div>
        <div
            style="margin: 10px; padding: 10px; border-radius: 20px; background-color: #232323; color: lightgray; list-style: none;">
            <ul style="list-style: none;">
                <li>📄 - Document texte/HTML</li>
                <li>🔉 - Document audio</li>
                <li>📕 - Document PDF</li>
                <li>🖼️ - Image</li>
                <li>🎥 - Vidéo</li>
                <li [ngStyle]="{'color': this.classColor}">📚 - Document inconnu</li>
                <li>📁 - Dossier fermé</li>
                <li>📂 - Dossier ouvert
                    <ul>
                        <li>📚 - Cours n°1</li>
                        <li>📚 - Cours n°2</li>
                        <li>📚 - Cours n°3</li>
                        <li>📚 - Cours n°4</li>
                        <li>📚 - Cours n°5</li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--
            <p><br/>Cours : {{selectedClass.name}}</p>
            <mat-list-item (click)="toggleSubmenu()">
                Chapitre1
                <mat-icon class="menu-button">expand_more</mat-icon>
            </mat-list-item>
            
            <div class="submenu" *ngIf="showSubmenu" >
                <a mat-list-item *ngFor="let ressource of ressourceList" href="">{{ressource.name}}</a>
            </div>
            <mat-list-item (click)="toggleSubmenu()">
                Chapitre 2
                <mat-icon class="menu-button">expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" *ngIf="showSubmenu" >
                <a mat-list-item *ngFor="let ressource of ressourceList" href="">{{ressource.name}}</a>
            </div>
            -->




    </mat-sidenav>


    <mat-sidenav-content style="height: 100%; border: none; padding: 0px; overflow-y: hidden;">
        <app-main-view [classId]="this.classId" [resId]="this.resId"></app-main-view>
    </mat-sidenav-content>

</mat-sidenav-container>