<div class="container">  
    <button class="cta" (click)="explorer.toggle()" [ngStyle]="{'background': this.classColor, 'border-color':this.classColor, 'color':this.textColor}">
        <i class="fa-solid fa-folder fa-lg"></i>
        <span class="button-text"><b>Mes ressources</b></span>
    </button>
    <span><b>   RE4E > </b>TD > TD1 > Sujet.pdf</span>
</div>



<mat-toolbar>
    
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #explorer mode="side" [(opened)]="explorerOpened" [ngStyle]="{'color': this.classColor}">
        <mat-nav-list>
            <p><br/>Cours : {{selectedClass.name}}</p>
            <mat-list-item (click)="toggleSubmenu()">
                Chapitre1
                <mat-icon class="menu-button">expand_more</mat-icon>
            </mat-list-item>
            
            <div class="submenu" *ngIf="showSubmenu" >
                <a mat-list-item *ngFor="let ressource of ressourceList" href="">{{ressource.name}}</a>
            </div>
            <mat-list-item (click)="toggleSubmenu()">
                Chapitre 2
                <mat-icon class="menu-button">expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" *ngIf="showSubmenu" >
                <a mat-list-item *ngFor="let ressource of ressourceList" href="">{{ressource.name}}</a>
            </div>

        </mat-nav-list>


        
    </mat-sidenav>


    <mat-sidenav-content style="height: 100%; border: none; padding: 0px; overflow-y: hidden;">
        <app-main-view [classId]="this.classId" [resId]="this.resId"></app-main-view>
    </mat-sidenav-content>

  </mat-sidenav-container>