mat-sidenav-container {
    height: 100vh;

}

mat-sidenav {
    padding-top: 50px;
    width: 200px;
    border-right: none;
    color: #232323;
    text-align: center;
    visibility: visible !important;
}

mat-toolbar {
    padding-left: 100px;
    height: 50px;
    background-color: lightgrey;
}

button {
    height: 50px;
    outline: none;
    font-size:xx-large;
    color: #232323;
    border-end-end-radius: 10px;
    border-start-end-radius: 10px;
    border: none;
    text-decoration:none;
    transition: 0.5s;
}


button:hover {
    transition: 0.5s;
    color: #FFFFFF;
    text-shadow: 2px 2px 0 #232323, 2px -2px 0 #232323, -2px 2px 0 #232323, -2px -2px 0 #232323, 2px 0px 0 #232323, 0px 2px 0 #232323, -2px 0px 0 #232323, 0px -2px 0 #232323; /* red outline */
}


p {
    display: inline;
    margin-left: 10px;
    font-size: medium;
}

.submenu{
    margin-left: 10px;
}
