<mat-sidenav-container>


	<mat-sidenav #sidebar mode="side" [(opened)]="sidenavOpened">
		<mat-nav-list>

			<mat-list-item *ngFor="let class of classList" (click)="selectClass(class)" (click)="openExplorer()">
				{{class.name}}
			</mat-list-item>
			
		</mat-nav-list>
	</mat-sidenav>



	<mat-sidenav-content>

		<app-explorer [selectedClass]="selectedClass"  [(explorerOpened)]="this.explorerOpened"></app-explorer>
		<button (click)="sidebar.toggle()">Toogle sidenav</button>
		
	</mat-sidenav-content>



  </mat-sidenav-container>