mat-sidenav-container {
    height: 90vh;

}

mat-sidenav {
    height: 100%;
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    visibility: visible !important;
}




.submenu{
    margin-left: 10px;
}

mat-sidenav-container{
    --visible-drawer-space: 70px;

}

.mat-drawer {
    &.mat-drawer-side {
      transform: translate3d(calc(-100% + var(--visible-drawer-space)), 0, 0);
      visibility: visible !important; // always visible
    }
  }

.mat-drawer-content {
  margin-left: var(--visible-drawer-space);
}