mat-sidenav-container {
    height: 100vh;
    overflow: hidden !important;

}

mat-sidenav {
    width: 400px;
    border-right: none;
    background: #232323;
    color: white;
    text-align: center;
    visibility: visible !important;
    overflow: hidden !important;
}



button {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    overflow: hidden;
    background-color:#121212;
    outline: none;
    font-size:xx-large;
    color: #484848;
    border: none;
    text-decoration:none;
    transition: 0.5s;
}

button:hover {
    width: 200px;
    color: white;
    transition: 0.5s;
}

.submenu{
    margin-left: 10px;
}

.class{
    cursor: pointer;
    color: #232323 !important;
    margin-left: 40px;
    margin-top: 10px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    transition: 0.5s;
    padding: 5px;
}

.class:hover{
    transform: translateX(-20px);
    border-radius: 1rem;
    transition: 0.5s;
}