mat-sidenav-container {
    height: 90vh;

}

mat-sidenav {
    height: 100%;
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    visibility: visible !important;
}




.submenu{
    margin-left: 10px;
}
