<form (ngSubmit)="addRessource()" class="form-group">
    <div class="">
      
        <div class="col-sm mb-3">
          <label>Nom de la ressource</label>
        <input type="text" class="form-control" [(ngModel)]="this.res.filename" name="ressourceName"/>
        </div>
    </div>




    <div class="form-row ">
        <div class="col-sm mb-3">
        <label>Chemin de la ressource</label>
        <input placeholder="Ex: 'Cours/CM'" type="text" class="form-control" [(ngModel)]="this.res.path" name="ressourcePath"/>
        </div>
    </div>


    
    <div class="selectFile mb-3">
      <label style="margin-right: 5px;">Sélection du fichier : </label>
      <input type="file" (change)="onFileSelected($event)" />
    </div>
    
    <input type="submit" class="btn btn-primary"  style="margin-bottom:10px ;" value="Ajouter" [ngStyle]="{'background-color' : this.color}"/>

</form>
