img {
    margin: 30px;
    min-width: 200px;
}

.root {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    border-radius: 2em;
    display: block;
    color: white;
    background-color: #000000a6;
    text-align: center;
}