section{
    background-image: url('https://www.oecd-nea.org/upload/docs/image/jpeg/2020-11/book_stack.jpg');
}

.btn, .btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
    border-color: #232323;
}

.btn:hover {
    background-color: #232323 !important;
    border-color: #ff7b00 ;
    color: white !important;
    transition: 0.5s;
}

.form-control{
    background-color: #232323;
    color: white;
}

.form-control:focus {
    border-color: #ff7b00;
    box-shadow: 0 0 0 0.2rem rgba(139, 139, 139, 0.25);
} 