.dashboard{
    height:100vh;
    width:100vw;
    color: white;
    background-color: #121212;
}

.navbar{
    background-color: #121212;
    height: 60px;
}

p{
    color: white;
}

.content{
    background-color: #242424;
    border-radius: 1rem;
    padding: 10px;
    margin: 10px;
}
.hscroll{
    overflow-x: scroll;
    white-space: nowrap;
}

.elem{
    vertical-align: top;
    cursor: pointer;
    height: 100%;
    margin-left: 10px;
    border-radius: 1rem;
    display: inline-block;
    transition: 0.5s;
}

.elem:hover{
    background-color: #484848;
    transition: 0.5s;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.full{
    height: 90%;
    margin-left: -3px;
    margin-right: -3px;
}
  