.dashboard{
    height:100vh;
    width:100vw;
    color: white;
    background-color: #121212;
}

.navbar{
    background-color: #121212;
    height: 60px;
}

p{
    color: white;
}

.content{
    background-color: #242424;
    border-radius: 1rem;
    padding: 10px;
    margin: 10px;
}
