@import "../node_modules/angular-calendar/css/angular-calendar.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html{
    background-image: url('https://www.oecd-nea.org/upload/docs/image/jpeg/2020-11/book_stack.jpg');
    width: 100%;
}

body{
    background-color: transparent !important;
    font-family: 'Noto Sans', sans-serif;
    overflow-y: hidden;
    width: 100%;
}

app-root{
    display: inline-block;
    width: 100%;
    height: 100%;
}
