@import "../node_modules/angular-calendar/css/angular-calendar.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html{
    background-image: url('https://www.oecd-nea.org/upload/docs/image/jpeg/2020-11/book_stack.jpg');
}

body{
    background-color: transparent !important;
    overflow-y: hidden;
}
