<ul>
    <div *ngFor="let el of this.folder, let i = index">
        <li *ngIf="el.type != 'folder'"
            [ngStyle]="{'border-color': el.id == this.classId ? this.color : '','color': el.id == this.classId ? this.color : '','border-width': el.id == this.classId ? '3px' : '1px'}">
            <div style="cursor: pointer;user-select: none;" (click)="navigate(el)">📕{{el.name}} <i *ngIf="this.edit==true"
                    class="fa-solid fa-xmark fa-lg delete" style="color: rgb(255, 255, 255);" (click)="this.rmRes(el.id)"></i></div>
        </li>
        <li *ngIf="el.type == 'folder' && !el.opened">
            <div (click)="el.opened = true" style="cursor: pointer;user-select: none;">📁 {{el.name}}</div>
        </li>
        <li *ngIf="el.type == 'folder' && el.opened">
            <div (click)="el.opened = false" style="cursor: pointer;user-select: none;">📂 {{el.name}}</div>
            <app-recursive-list [folder]="el.content" [classId]="this.classId" [color]="this.color" [edit]="this.edit">
            </app-recursive-list>
        </li>
    </div>
</ul>